@import '_global.css';


.graph-section{
  display: none;
}
.show-graph{
  display: -ms-grid;
  display: grid;
}
#time-line{
 margin:0 3em;
 min-width: 500px;
}
.axis-color{
  font-size:2em; 
 }

.legend{
  -ms-grid-column-align: end;
      justify-self: end;
  position: relative;
  top:5%;
  right: 5%;
 max-width: 600px;
 margin:1em;
 border:2px solid var(--secondary);
 border-radius: 10px;
 padding:1em;
}
.diagram{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.diagram>div{
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -ms-flex-preferred-size: 50%;
     flex-basis: 50%;
 margin-bottom: 0.8em;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
}
.diagram-line{
 width: 50px;
 height: 5px;
 border-radius: 10px;
 margin-right: 1em;
}
.diagram-line +p{
  font-size: 13px;
}
.line-yellow{
 background-color: yellow;
}
.line-green{
 background-color: rgb(51, 184, 51);
}
.line-blue{
 background-color: rgb(122, 190, 230);
}
.line-purple{
 background-color: purple;
}