body{
  font-family: 'M PLUS 1p', sans-serif;
  background-color: rgba(39, 38, 38, 0.9);
  
}
h1{
  font-size: 7em;
  margin:1em;
  color:whitesmoke;
}
h2{
  font-size: 5em;
  margin-left:5em;
  color:whitesmoke;
}
#time-line{
 
   background-color:rgba(32, 21, 21, 0.904); 
  margin:2em 3em;
   /* padding-top:10em;  */

}

.axis-color{
   font-size: 2em; 
  background-color: blueviolet;
}

