body{
  font-family: 'M PLUS 1p', sans-serif;
  background-color: rgba(39, 38, 38, 0.9);
  
}
h1{
  font-size: 2.25em;
  margin:2em;
  color:whitesmoke;
}
h2{
  font-size: 1.5em;
  margin-left:5em;
  color:whitesmoke;
}
#time-line{
 
   background-color:rgba(32, 21, 21, 0.904); 
  margin:1em 3em;

}

